@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
:root{
   --main-bg-color:#2874f0;
}

* {
    margin: 0;
    padding: 0;
}

.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a:hover{
    font-weight: bold;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 58px;
}
nav{
    display: flex;


}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
header{
    background-color:var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.slider{
    width:80vw;
    margin: 12px auto;
    overflow: hidden;
}
.card{
    margin: auto;
    max-width: 91vw;
    
}
.card h2{
    font-family: 'Roboto', sans-serif;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.cards{
    display: flex;
}
.btn1{
    margin: 13px;
    width: 95px;
    background-color: white;
    color:var(--main-bg-color);
    border-radius: 0px;
    font-weight: bold;
    
    
}
.text{
    color: white;
    margin: 18px;
    font-weight: 600;
}
.select{
    margin: 18px;
    font-weight: 600;
    color: white;
}
.new{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.img1{
    width: 1357px;
}
    


